.section__about {
    gap: 5px;
    background: var(--bg-secondary);
    margin: var(--margin-lg);
    padding: var(--padding-xl);
    text-align: center;
}

.section__about-container {
    gap: var(--gap-base);
}

.section__about-description {
    color: var(--color-text-secondary);
    line-height: 1.4;
    max-width: 60ch;
    margin: var(--margin-base);
    font-size: var(--font-size-base);
}

.section__about-link {
    display: block;
    border: none;
    background: var(--gradient-accent);
    color: var(--color-text-white);
    text-decoration: none;
    padding: var(--padding-button);
    border-radius: var(--radius-full);
    cursor: pointer;
    font-size: var(--font-size-base);
    max-width: 70%;
    margin: var(--margin-lg);
}

.section__about-image--container {
    background-color: var(--bg-transparent);
    border-radius: var(--radius-base);
    border: 2px solid var(--color-accent-hover);
}

.section__about-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 360px) {
    .section__about-description {
        font-size: var(--font-size-sm);
    }

    .section__about-link {
        font-size: var(--font-size-base);
    }
}

@media (min-width: 768px) {
    .section__about-description {
        font-size: var(--font-size-base);
    }
}

@media (min-width: 1024px) {
    .section__about {
        text-align: left;
        padding: var(--padding-xxl);
        margin-top: var(--margin-top-lg);
    }

    .section__about-container {
        flex-direction: row;
        gap: var(--gap-lg);
    }

    .section__about-text--container {
        order: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .section__about-description {
        margin: var(--margin-base);
        font-size: var(--font-size-base);
    }

    .section__about-link {
        position: relative;
        overflow: hidden;
        padding: var(--padding-base);
        z-index: 0;
        text-align: left;
        font-size: var(--font-size-sm);
        letter-spacing: 1px;
        width: 300px;
        margin: 0;
    }

    .section__about-link::before {
        content: "";
        position: absolute;
        inset: 0;
        background: var(--gradient-accent-hover);
        opacity: 0;
        transition: var(--transition-opacity);
        z-index: -1;
    }

    .section__about-link:hover::before {
        opacity: 1;
    }

    .section__about-image--container {
        max-width: 450px;
        height: auto;
    }

    .section__about-image {
        display: block;
        width: 100%;
    }
}