.section__about {
    gap: 5px;
    background-color: var(--color-secondary);
    width: 85%;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 20px;
    text-align: center;
}
/* flex-center--column */
.section__about-container {
    gap: 2rem;
}
/* section-subheader */

/* section-subheader--span */

/* section-title */


.section__about-description {
    color: var(--color-text-secondary);
    line-height: 1.4;
    max-width: 60ch;
    margin: 1rem auto;
    font-size: var(--font-size-base);
}

.section__about-link {
    display: block;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-text);
    text-decoration: none;
    padding: 1rem 1.25rem;
    border-radius: 20px;
    cursor: pointer;
    font-size: var(--font-size-lg);
    font-weight: bold;
    width: 70%;
    margin: 2rem auto;
}

.section__about-image--container {
    background-color: antiquewhite;
    padding: 50px 10px;
    border-radius: 20px;
    border: 3px solid var(--color-primary);
}

.section__about-image {
    width: 85%;
    max-width: 300px;
    height: auto;
}

@media (min-width: 768px) {
    .section__about {
        text-align: left;
        padding: 3rem;
        margin-top: 3rem;
    }

    .section__about-container {
        flex-direction: row;
        gap: 2rem;
    }

    .section__about-text--container {
        order: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .section__about-description {
        margin: 1.5rem auto;
        font-size: var(--font-size-sm);
    }

    .section__about-link {
        text-align: left;
        font-size: var(--font-size-sm);
        font-weight: normal;
        letter-spacing: 1px;
        width: 40%;
        transition: background-color .4s ease-in-out;
        margin: 0;
    }

    .section__about-link:hover {
        background-color: var(--color-primary-hover);
    }

    .section__about-image--container {
        max-width: 450px;
        height: auto;
        overflow: hidden;
        border-radius: 20px;
    }

    .section__about-image {
        display: block;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        
    }
}