.footer {
    width: 100%;
    padding: var(--padding-base);
    background-color: #2A1454;
}

.footer__container {
    max-width: 1200px;
}

.footer__nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__header {
    font-family: var(--font-family-logo);
    font-size: var(--font-size-xl);
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--color-secondary)
}

.footer__nav {
    font-size: var(--font-size-base);
    list-style: none;
    padding: var(--padding-xs);
    gap: var(--gap-sm);
    margin: var(--margin-base);
}

.footer__nav-link {
    text-decoration: none;
    color: var(--color-secondary);
    font-weight: 300;
    transition: color 0.4s ease-in-out;
    white-space: nowrap;
}

.footer__socials {
    list-style: none;
    gap: 1.5rem;
    margin: var(--margin-xl);
    padding: var(--no-padding);
}

.footer__copy {
    font-size: var(--font-size-sm);
    color: var(--color-secondary);
}

.footer__copy-span {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.arrow__up-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 50px;
    right: 20px;
    background: rgb(150, 114, 228, 0.3);
    color: var(--color-background-scrolled);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: var(--radius-rounded);
    font-size: var(--font-size-base);
    text-decoration: none;
    padding: 0;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, opacity .4s ease-in-out, visibility 0.4s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.arrow__up-wrapper.active {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}
.arrow__up-wrapper.blurred {
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;
}

.footer__icon-wrapper {
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid var(--color-secondary);
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.footer__icon-wrapper::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
    border-radius: 50%;
    transform: scale(0);
    opacity: 0.4;
    z-index: 0;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
footer .fab {
    color: var(--color-secondary);
}

.footer__icon-wrapper:hover::before {
    transform: scale(1);
    opacity: 1;
}

.footer__icon-wrapper:hover .fab {
    color: var(--color-primary);
}

@media (min-width: 768px) {
    .footer__container {
        flex-direction: row;
        justify-content: space-around;
        width: 90%;
        margin-bottom: var(--margin-bottom-xl);
    }

    .footer__nav-container {
        flex-direction: row;
        gap: var(--gap-xl);
    }

    .footer__header {
        font-size: var(--font-size-lg);
        letter-spacing: 6px;
    }

    .footer__socials {
        margin: 0;
    }

    .footer__nav-link:hover {
        color: var(--color-primary-hover)
    }

    .footer__socials-link:hover {
        background-color: var(--color-text);
        color: var(--color-background);
    }

    .arrow__up-wrapper:hover {
        background: rgb(150, 114, 228, 0.6);
        color: var(--color-text);
    }
}