.footer {
    width: 100%;
    padding: var(--padding-base);
    background-color: var(--color-background);
}

.footer__container {
    max-width: 1200px;
}

.footer__nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__header {
    font-family: var(--font-family-logo);
    font-size: var(--font-size-xl);
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.footer__nav {
    font-size: var(--font-size-base);
    list-style: none;
    padding: var(--padding-xs);
    gap: var(--gap-sm);
    margin: var(--margin-base);
}

.footer__nav-link {
    text-decoration: none;
    color: var(--color-text-footer);
    font-weight: 300;
    transition: color 0.4s ease-in-out;
    white-space: nowrap;
}

.footer__socials {
    gap: 1.5rem;
    margin: var(--margin-xl);
}

.footer__copy {
    font-size: var(--font-size-sm);
    color: var(--color-text-secondary);
}

.footer__copy-span {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.arrow__up-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 50px;
    right: 20px;
    background-color: var(--color-text);
    color: var(--color-background);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: var(--radius-rounded);
    font-size: var(--font-size-base);
    text-decoration: none;
    padding: 0;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, opacity .4s ease-in-out, visibility 0.4s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.arrow__up-wrapper.active {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}
.arrow__up-wrapper.blurred {
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;
}



@media (min-width: 768px) {
    .footer__container {
        flex-direction: row;
        justify-content: space-around;
        width: 90%;
        margin-bottom: var(--margin-bottom-xl);
    }

    .footer__nav-container {
        flex-direction: row;
        gap: var(--gap-xl);
    }

    .footer__header {
        font-size: var(--font-size-lg);
        letter-spacing: 6px;
    }

    .footer__socials {
        margin: 0;
    }

    .footer__nav-link:hover {
        color: var(--color-text-hover)
    }

    .footer__socials-link:hover {
        background-color: var(--color-text);
        color: var(--color-background);
    }

    .arrow__up-wrapper:hover {
        background-color: var(--color-primary);
        color: var(--color-text);
    }
}