*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {

    /* COLORS */
    --color-primary: #EF2A1A;
    --color-primary-hover: #D82518;
    --color-secondary: #1A1A1A;
    --color-background: #000000;
    --color-background-scrolled: rgba(0, 0, 0, 0.8);
    --color-text: #FAFAFA;
    --color-text-hover: #F0F0F0;
    --color-text-secondary: #989898;
    --color-text-footer: #b8afaf;
    /* FONTS */
    --font-family: 'Inter', sans-serif;
    --font-family-logo: 'Orbitron', sans-serif;
    --font-size-base: 16px;
    --font-size-sm: 0.875rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 2.5rem;
    /* GAP */
    --gap-xs: .25rem;
    --gap-sm: .5rem;
    --gap-base: 1rem;
    --gap-lg: 2rem;
    --gap-xl: 4rem;
    /* MARGINS */
    --margin-center: 0 auto;
    --margin-base: 1rem auto;
    --margin-lg: 2rem auto;
    --margin-xl: 3rem auto;  

    --margin-top-sm: .25rem;
    --margin-top-lg: 3rem;
    --margin-top-xl: 5rem;

    --margin-bottom-sm: .5rem;
    --margin-bottom-lg: 2rem;
    --margin-bottom-xl: 5rem;
    /* PADDINGS */
    --no-padding: 0;
    --padding-xxs: .25rem .5rem;
    --padding-xs: 1rem;
    --padding-sm: 1rem 1.25rem;
    --padding-base: 2rem;
    --padding-lg: 3rem;

    --padding-header-nav: 0 1rem;
    --padding-tech-icons: .5rem .6rem;
    --padding-button: .5rem;
    --padding-image: 4rem .625rem;
    /* Borders */
    --radius-sm: .25rem;
    --radius-md: .5rem;
    --radius-lg: 1rem;
    --radius-full: calc(infinity * 1px);
    --radius-rounded: 50%;

    --transition-base: all 0.5s ease;
}

.light-theme {
    --color-primary: #edfcf5;
    --color-primary-hover: #d3f8e5;
    --color-secondary: #73e2b7;
    --color-background: #159f73;
    --color-background-scrolled: rgba(21, 159, 115, 0.8);
    --color-text: #042a21;
    --color-text-hover: #094b3b;
    --color-text-secondary: #097356;
}

body {
    font-family: var(--font-family);
    background-color: var(--color-background);
    color: var(--color-text);
    transition: background-color 0.4s, color 0.4s;
}

html {
    scroll-behavior: smooth;
}

.scroll__reveal-card {
    opacity: 0;
}

.scroll__reveal-card.visible {
    opacity: 1;
}