*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --color-primary: #EF2A1A;
    --color-primary-hover: #D82518;
    --color-secondary: #1A1A1A;
    --color-background: #000000;
    --color-background-scrolled: rgba(0, 0, 0, 0.8);
    --color-text: #FAFAFA;
    --color-text-hover: #F0F0F0;
    --color-text-secondary: #989898;

    --font-family: 'Inter', sans-serif;
    --font-family-logo: 'Orbitron', sans-serif;
    --font-size-base: 16px;
    --font-size-sm: 0.875rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 2.5rem;

    --breakpoint-mobile: 480px;
    --breakpoint-tablet: 768px;
    --breakpoint-desktop: 1024px;

    --transition-base: all 0.5s ease;
}
.light-theme {
    --color-primary: #edfcf5;
    --color-primary-hover: #d3f8e5;
    --color-secondary: #73e2b7;
    --color-background: #159f73;
    --color-background-scrolled: rgba(21, 159, 115, 0.8);
    --color-text: #042a21;
    --color-text-hover: #094b3b;
    --color-text-secondary: #097356;
}

body {
    font-family: var(--font-family);
    background-color: var(--color-background);
    color: var(--color-text);
    transition: background-color 0.4s, color 0.4s;
}
html {
    scroll-behavior: smooth;
}

