.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: var(--bg-transparent);
  transition: var(--transition-all);
  z-index: 2;
}

.header.scrolled {
  background-color: var(--bg-header-scrolled);
}

.header__nav {
  gap: var(--gap-base);
  padding: var(--padding-header-nav);
}

.header__logo-text {
  margin-right: auto;
  font-family: var(--font-family-logo);
  font-size: var(--font-size-lg);
  color: var(--color-accent);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

.header__menu {
  position: fixed;
  gap: var(--gap-lg);
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  list-style: none;
  padding: var(--no-padding);
  margin: 0;
  opacity: 0;
  transform: translateX(100%);
  transition: var(--transition-all);
}

.header__menu--open {
  opacity: 1;
  transform: translateX(0);
  background-color: var(--bg-menu-mobile);
}


.header__menu-item {
  margin: 0;
  padding: var(--no-padding);
}


.header__menu-link {
  display: block;
  text-decoration: none;
  color: var(--bg-secondary);
  font-size: var(--font-size-lg);
  padding: var(--padding-lg);
  transition: var(--transition-color);
  white-space: nowrap;
}

.header__menu-item.active .header__menu-link {
  color: var(--color-accent-hover);
}

.header__controls {
  gap: var(--gap-sm);
  padding: var(--padding-base);
}

.theme-icon {
  transition: var(--transition-all);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  pointer-events: none;
  width: 30px;
  height: 30px;
}

.theme-icon--moon {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

body.light-theme .theme-icon--sun {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.2) rotate(10deg);
}

body.light-theme .theme-icon--moon {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.8) rotate(-15deg);
}

.header__toggle-theme {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  background: none;
  border: none;
  color: var(--color-accent);
  cursor: pointer;
  transition: var(--transition-color);
  overflow: hidden;
  outline: none;
}

.header__lang-dropdown {
  position: relative;
  z-index: 1;
}

.header__lang-button {
  gap: var(--gap-sm);
  background: transparent;
  border: 2px solid var(--color-accent);
  color: var(--color-accent);
  border-radius: var(--radius-sm);
  cursor: pointer;
  font-size: var(--font-size-lg);
}

.lang-flag {
  width: 30px;
  height: auto;
}

.header__lang-options {
  position: absolute;
  top: 100%;
  right: 0;
  background: var(--bg-main);
  border: 2px solid var(--color-text-main);
  border-radius: var(--radius-sm);
  list-style: none;
  display: none;
  flex-direction: column;
  padding: var(--no-padding);
  margin-top: var(--margin-top-sm);
}

.header__lang-options.show {
  display: flex;
}

.lang-option {
  padding: var(--padding-sm);
  cursor: pointer;
  gap: var(--gap-sm);
}

@media (max-width: 360px) {
  .header__nav {
    padding: var(--padding-header-nav-sm);
  }

  .header__menu {
    top: 60px;
  }

  .header__logo-text {
    font-size: var(--font-size-base);
  }

  .header__menu-link {
    font-size: var(--font-size-base);
  }

  .theme-icon {
    width: 24px;
    height: 24px;
  }

  .header__lang-button {
    gap: var(--gap-sm);
    font-size: var(--font-size-sm);
  }

  .lang-flag {
    width: 24px;
    height: auto;
  }

  .lang-option {
    padding: var(--padding-xs);
  }
}

@media (min-width: 768px) {
  .header__menu-link {
    font-size: var(--font-size-lg);
  }
}

@media (min-width: 1024px) {
  .header {
    height: 50px;
    padding: var(--no-padding);
  }

  .header__nav {
    height: 50px;
    padding: 0 3rem;
  }

  .hamburger {
    display: none;
  }

  .header__menu {
    position: static;
    flex-direction: row;
    transform: none;
    opacity: 1;
    gap: var(--gap-base);
  }

  .header__menu-link {
    position: relative;
    font-size: var(--font-size-sm);
    padding: var(--padding-lg);
    color: var(--color-text-main);
    transition: var(--transition-color);
    
  }

  .header__menu-link::after {
    content: '';
    display: block;
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 80%;
    height: 2px;
    background: var(--gradient-accent-hover);
    transform: scaleX(0);
    transition: var(--transition-transform);
  }

  .header__menu-link.line-grow::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  .header__menu-link.line-shrink::after {
    transform: scaleX(0);
    transform-origin: right;
  }

  .theme-icon {
    width: 24px;
    height: 24px;
  }

  .header__lang-button {
    font-size: var(--font-size-base);
  }

  .lang-option {
    padding: 2px 4px;
    transition: var(--transition-bg);
  }

  .lang-option:hover {
    background-color: var(--color-accent-hover);
  }

}