.main {
    padding-top: 80px;
    margin: var(--margin-center);
}

.section__hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: var(--margin-center);
    padding: var(--padding-sm);
    gap: var(--gap-base);
    color: var(--color-text-main);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.section__hero-container {
    padding: var(--padding-sm);
}

.section__hero-image-container {
    padding: var(--padding-image);
    background-color: #0B1013;
    border-radius: var(--radius-lg);
    will-change: transform;
    transform: skewX(-4deg) skewY(4deg);
    transition: transform .4s ease-in-out, box-shadow .4s ease-in-out;
}

.section__hero-image-container.clicked {
    transform: skewX(0deg) skewY(0deg);
    box-shadow: 0 0 0 2px var(--color-accent-hover);
}

.section__hero-image {
    max-width: 85%;
    height: auto;
}

.section__hero-text--title {
    margin-top: var(--margin-top-lg);
    margin-bottom: var(--margin-bottom-sm);
    font-size: var(--font-size-xxl);
    font-weight: 600;
    line-height: 1.2;
}

.section__hero-text--span {
    display: block;
    background: var(--gradient-accent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}

.section__hero-text--description {
    font-size: var(--font-size-lg);
    max-width: 32ch;
    letter-spacing: 2px;
}

.section__hero-socials--container {
    list-style: none;
    gap: var(--gap-base);
    padding: var(--no-padding);
    margin: var(--margin-center);
}


.section__hero-arrow--container {
    position: relative;
    display: inline-block;
    animation: bounce 2s infinite;
    margin-bottom: var(--margin-bottom-xl);
}

.section__hero-arrow--container.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.section__hero-link {
    color: var(--color-accent);
}

.section__hero-arrow--icon {
    width: auto;
    height: 56px;
    cursor: pointer;
    vertical-align: middle;
}

@media (max-width: 360px) {
    .section__hero-image-container {
        padding: var(--padding-sm);
    }

    .section__hero-text--title {
        font-size: var(--font-size-xl);
    }

    .section__hero-text--description {
        font-size: var(--font-size-base);
    }
}

@media (min-width: 768px) {
    .section__hero-image-container {
        width: 60%;
        margin: var(--margin-center);
    }

    .section__hero-image {
        max-width: 300px;
        height: auto;
    }
}

@media (min-width: 1024px) {
    .section__hero {
        height: 100vh;
        align-items: center;
        justify-content: space-around;
    }

    .section__hero-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: var(--padding-sm);
        width: 85%;
    }

    .section__hero-image-container {
        width: 100%;
        padding: var(--padding-lg);
    }

    .section__hero-image {
        max-width: 300px;
        height: auto;
    }

    .section__hero-text--container {
        order: -1;
        text-align: left;
        align-items: flex-start;
    }

    .section__hero-text--title {
        width: 100%;
    }

    .section__hero-socials--container {
        justify-content: flex-start;
        margin: 0;
    }

    .section__hero-arrow--container {
        margin-bottom: var(--margin-bottom-lg);
    }
}

@media (min-width:1600px) {
    .main {
        max-width: 1400px;
    }
}


@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(4px);
    }
}