.main {
    padding-top: 80px;
}

.section__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:  0 1.5rem;
    gap: 1rem;
    color: var(--color-text);
    height: calc(100dvh - 100px);   
}

.section__hero-image-container {
    background: linear-gradient(90deg, rgba(216, 37, 24, 1) 0%, rgba(178, 28, 18, 1) 50%, rgba(158, 26, 18, 1) 100%);
    padding: 50px 10px;
    border-radius: 20px;
}

.section__hero img {
    background-color: aqua;
    width: 95%;
    max-width: 350px;
    height: auto;
    border-radius: 20px;
}

.section__hero--text-title {
    margin-top: 2rem;
    font-size: var(--font-size-xxl);
    font-weight: 600;
}

.section__hero--text-span {
    color: var(--color-primary);
    font-weight: bold;
}

.section__hero--text-description {
    font-size: var(--font-size-lg);
    max-width: 32ch;
}

.section__hero--socials-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}


.section__hero--social-icon {
    width: 30px;
    height: 30px;
    fill: var(--color-text-secondary);
}

.social__hero--social-icon svg {
    width: 32px;
    height: 32px;
}

.section__hero--arrow-container {
    display: inline-block;
    animation: bounce 2s infinite;  
    z-index: -1;
}
.section__hero--link {
    display: inline-block;
    text-decoration: none;
    color: var(--color-text); 
    
}

.section__hero--arrow-icon {
    width: auto;
    height: 56px;
    fill: var(--color-primary);
    cursor: pointer;
    vertical-align: middle;
    
}


@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(4px);
    }
}