.section__projects {
    background-color: var(--bg-secondary);
    margin: var(--margin-lg);
    padding: var(--padding-base);
    text-align: center;
}

.section__projects-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xl);
}

.section__projects-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--gap-lg);
    border-radius: var(--radius-md);
    background: var(--bg-main);
    padding: var(--padding-base);
    margin-bottom: var(--margin-bottom-lg);
}

.section__projects-image {
    width: 100%;
    height: auto;
    border-radius: var(--radius-sm);
    background-position: center;
    background-size: cover;
    display: block;
}

.section__projects-content {
    text-align: left;
}

.section__projects-title {
    font-size: var(--font-size-lg);
    margin: 0;
    color: var(--color-accent)
}

.section__projects-description {
    font-size: var(--font-size-sm);
    color: var(--color-text-secondary);
}

.section__projects-tech {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: var(--padding-tech-icons);
    gap: var(--gap-sm);
    background: var(--gradient-accent);
    border-radius: var(--radius-full);
    margin: 1rem 0;
    width: fit-content;
}

.section__projects-tech--icon {
    width: 20px;
    height: 20px;
}

.section__projects-link {
    text-decoration: none;
    color: var(--color-accent);
    font-size: var(--font-size-base);
    display: inline-flex;
    align-items: center;
    gap: var(--gap-xs);
}

.section__projects-svg {
    width: 20px;
    height: 20px;
    display: block;
}

@media (min-width: 768px) {
    .section__projects-card {
        align-items: center;
    }

    .section__projects-image {
        width: 70%;
        margin: var(--margin-center);
    }

    .section__projects-content {
        text-align: center;
    }

    .section__projects-description {
        font-size: var(--font-size-base);
    }

    .section__projects-tech {
        margin: var(--margin-base);
    }

    .section__projects-link {
        font-size: var(--font-size-lg);
    }

    .section__projects-tech--icon {
        width: 26px;
        height: 26px;
    }

    .section__projects-svg {
        width: 24px;
        height: 24px;
    }
}

@media (min-width: 1024px) {
    .section__projects-card--container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .section__projects-card {
        flex: 0 0 calc(33.3% - 2rem);
        margin-right: 2rem;
    }

    .section__projects-content {
        text-align: left;
    }

    .section__projects-step {
        margin-bottom: var(--margin-bottom-sm);
    }

    .section__projects-heading {
        font-size: var(--font-size-xl);
        margin: var(--margin-base);
    }

    .section__projects-image {
        aspect-ratio: 16 / 9;
        object-fit: cover;
        width: 100%;
        max-width: 300px;
        transition: transform 0.6s ease;
    }

    .section__projects-card:hover .section__projects-image {
        transform: scale(1.1);
    }

    .section__projects-tech {
        margin: 1rem 0;
    }

    .section__projects-tech--icon {
        width: 20px;
        height: 20px;
        transition: transform .4s ease-in;
    }

    .section__projects-tech--icon:hover {
        transform: translateY(-5px);
    }

    .section__projects-link {
        transition: color .4s ease-in-out;
        font-size: var(--font-size-base);
    }

    .section__projects-link:hover {
        color: var(--color-accent-hover);
    }

    .section__projects-svg {
        width: 20px;
        height: 20px;

    }
}