.section__skills {
    background-color: var(--color-secondary);
    width: 85%;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 20px;
    text-align: center;
}

.section__skills-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
/* section-subheader */
.section__skills-step {
    font-size: var(--font-size-sm);
    margin-bottom: 0;
}
/* section-subheader--span */
.section__skills-step--span {
    color: var(--color-primary)
}
/* section-title */
.section__skills-title {
    font-size: var(--font-size-xxl);
    margin: 0;
}

.section__skills-images--container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}
/* flex-center */
.section__skills-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* icons */
.skills__icon {
    width: 30px;
    height: 30px;
}

.section__skills-info {
    color: var(--color-text-secondary);
    line-height: 1.4;
    max-width: 60ch;
    margin: 1rem auto;
    font-size: var(--font-size-base);
}


@media (min-width: 768px) {
    .section__skills {
        margin-top: 5rem;
    }
    .section__skills-container {
        gap: 2rem;
    }

    .section__skills-step {
        margin-bottom: .5rem;
    }

    .section__skills-title {
        font-size: var(--font-size-xl);
        margin: .5rem auto;
    }

    .section__skills-images--container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .section__skills-item {
        flex: 0 0 calc(16.66% - 1rem);
        transition: transform .4s ease-in-out;
    }
    .section__skills-item:hover {
        transform: translateY(-5px);
    }

    .skills__icon {
        width: 28px;
        height: 28px;
    }

    .section__skills-info {
        margin: 1.5rem auto;
        font-size: var(--font-size-sm);
    }
}