.section__skills {
    background-color: var(--bg-transparent);
    margin: var(--margin-lg);
    padding: var(--padding-base);
    text-align: center;
}

.section__skills-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xl);
}

.section__skills-images--container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-lg);
}

.section__skills-info {
    color: var(--color-text-secondary);
    line-height: 1.4;
    max-width: 60ch;
    margin: var(--margin-base);
    font-size: var(--font-size-base);
}

@media (max-width: 360px) {
    .section__skills-info {
        font-size: var(--font-size-sm);
    }
}

@media (min-width: 768px) {
    .section__skills-info {
        font-size: var(--font-size-base);
    }
}

@media (min-width: 1024px) {
    .section__skills {
        margin-top: var(--margin-xl);
    }

    .section__skills-container {
        gap: var(--gap-lg);
    }

    .section__skills-images--container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .section__skills-item {
        flex: 0 0 calc(16.66% - 1rem);
        transition: transform .4s ease-in-out;
    }

    .section__skills-item:hover {
        transform: translateY(-5px);
    }

    .section__skills-info {
        margin: var(--margin-base);
        font-size: var(--font-size-base);
    }
}