/* font-family: 'Saira', sans-serif;
font-family: 'Saira Condensed', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header {
    position: relative;
    background-color: #29a6dc;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    max-width: 1920px;
}

header>* {
    position: absolute;
}

header img {
    height: 60%;
    bottom: -10%;
    right: 0;
}

header div.welcome {
    z-index: 1;
    top: 10%;
    left: 5%;
    right: 5%;
    text-align: center;
    font-family: "Saira Condensed", sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: white;
    text-transform: uppercase;
}

header h1 {
    font-size: 20px;
    margin-top: 20px;
}

header h2 {
    font-size: 20px;
    font-weight: normal;
}

header button {
    font-family: 'Saira', sans-serif;
    line-height: 32px;
    padding: 0 20px;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    font-size: 12px;
    border: 2px solid white;
    font-weight: 300;
}

@media (orientation: portrait) and (min-width: 360px) {
    header img {
        height: 55%;
        bottom: -10%;
        right: 0;
    }
    header h1 {
        font-size: 28px;
    }
    header h2 {
        font-size: 28px;
    }
    header button {
        line-height: 40px;
        font-size: 16px;
    }
}

@media (orientation: portrait) and (min-width: 410px) {
    header img {
        height: 55%;
        bottom: -10%;
        right: 0;
    }
    header h1 {
        font-size: 32px;
    }
    header h2 {
        font-size: 32px;
    }
    header button {
        line-height: 50px;
        font-size: 20px;
        margin-top: 40px;
    }
}

@media (orientation: portrait) and (min-width: 768px) {
    header p {
        font-size: 68px;
    }
    header img {
        height: 65%;
        bottom: -10%;
    }
    header h1 {
        font-size: 46px;
    }
    header h2 {
        font-size: 46px;
    }
    header button {
        line-height: 70px;
        font-size: 26px;
    }
}

@media (orientation: landscape) {
    header img {
        height: 90%;
        bottom: -10%;
        right: 0;
    }
    header div.welcome {
        top: 15%;
        left: 5%;
        right: 50%;
    }
    header button {
        margin-top: 40px;
    }
}

@media (orientation: landscape) and (min-width: 640px) {
    header h1 {
        font-size: 24px;
    }
    header h2 {
        font-size: 24px;
    }
    header button {
        line-height: 40px;
        font-size: 14px;
    }
    header img {
        height: 110%;
        bottom: -10%;
        right: 0;
    }
}

@media (orientation: landscape) and (min-width: 1024px) {
    header p {
        font-size: 72px;
    }
    header h1 {
        font-size: 40px;
    }
    header h2 {
        font-size: 40px;
    }
    header button {
        line-height: 70px;
        font-size: 24px;
    }
    header img {
        height: 90%;
        bottom: -10%;
        right: 0;
    }
}

@media (orientation: landscape) and (min-width: 1280px) {
    header div.welcome {
        text-align: left;
    }
    header p {
        font-size: 72px;
    }
    header h1 {
        font-size: 40px;
    }
    header h2 {
        font-size: 40px;
    }
    header button {
        line-height: 70px;
        font-size: 24px;
    }
    header img {
        height: 120%;
        bottom: -10%;
    }
}

@media (orientation: landscape) and (min-width: 1600px) {
    header p {
        font-size: 108px;
    }
    header h1 {
        font-size: 70px;
    }
    header h2 {
        font-size: 70px;
    }
    header button {
        line-height: 80px;
        font-size: 28px;
    }
}

@media (min-width: 1024px) {
    header button {
        cursor: pointer;
        transition: 0.3s;
    }
    header button:hover {
        background-color: #fff;
        color: #111;
    }
}

section {
    min-height: 30vh;
}

/* Sekcja 1 */

.features {
    margin: 50px auto 0;
    padding: 5%;
    text-align: center;
    max-width: 1600px;
}

.features h2 {
    font-family: 'Saira', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 15px;
}

.features h3 {
    font-family: 'Saira Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}

.features p {
    font-family: 'Saira', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin: 20px 0;
}

.features img {
    width: 100%;
    margin: 5px 0;
    max-width: 375px;
}

@media (min-width: 360px) {
    .features h2 {
        font-size: 28px;
    }
    .features h3 {
        font-size: 24px;
    }
}

@media (min-width: 768px) {
    .features h2 {
        font-size: 36px;
    }
    .features h3 {
        font-size: 24px;
    }
    .features p {
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    .features {
        margin-top: 50px;
        padding: 5% 2%;
    }
    .feature {
        float: left;
        width: 33%;
        padding: 20px;
    }
    .features p {
        line-height: 120%;
        padding: 0 10px;
    }
}

@media (min-width: 1600px) {
    .feature {
        padding: 20px 40px;
    }
    .features h2 {
        font-size: 60px;
    }
    .features h3 {
        font-size: 32px;
    }
    .features p {
        font-size: 21px;
    }
}