.flex__center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex__center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icons {
    fill: var(--color-primary);
    width: 30px;
    height: 30px;
}

.fab {
    z-index: 1;
    color: var(--color-primary);
    transition: color 0.3s ease;
}

.social__icon {
    text-decoration: none;
}

.icon__wrapper {
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.icon__wrapper::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    border-radius: 50%;
    transform: scale(0);
    opacity: 0.4;
    z-index: 0;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.icon__wrapper:hover::before {
    transform: scale(1);
    opacity: 1;
}

.icon__wrapper:hover .fab {
    color: #FFFFFF;
}

.section__subheader {
    font-size: var(--font-size-sm);
    margin-bottom: 0;
}

.section__subheader-span {
    color: var(--color-primary)
}

.section__title {
    display: block;
    background: var(--color-gradient-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    font-size: var(--font-size-xxl);
    margin: 0;
}

.scroll__reveal-card {
    opacity: 0;
}

.scroll__reveal-card.visible {
    opacity: 1;
}

@media (min-width: 768px) {
    .section__subheader {
        margin-bottom: .5rem;
    }

    .section__title {
        font-size: var(--font-size-xl);
    }

    .icons {
        width: 28px;
        height: 28px;
    }

}